In [1]:
import pandas as pd
data=pd.read_csv('fatal-police-shootings-data.csv')
data

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,5921,William Slyter,2020-06-13,shot,gun,22.0,M,W,Kansas City,MO,False,other,Other,False
5412,5922,TK TK,2020-06-13,shot,undetermined,NaN,M,NaN,San Bernardino,CA,False,attack,Not fleeing,False
5413,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,W,Lawrence,KS,False,attack,Car,False
5414,5926,TK TK,2020-06-16,shot,gun,24.0,M,NaN,Beach Park,IL,False,attack,Not fleeing,False
5415,5927,TK TK,2020-06-16,shot,gun,27.0,M,NaN,Phoenix,AZ,False,attack,Not fleeing,False

In [85]:

grpd2 = data.groupby(['race','signs_of_mental_illness']).size().reset_index(name='Total')
grpd2['Totalrace'] = grpd2.groupby(['race'])['Total'].transform('sum')
grpd2

   race  signs_of_mental_illness  Total  Totalrace
0     A                    False     69         93
1     A                     True     24         93
2     B                    False   1114       1298
3     B                     True    184       1298
4     H                    False    745        902
5     H                     True    157        902
6     N                    False     64         78
7     N                     True     14         78
8     O                    False     37         48
9     O                     True     11         48
10    W                    False   1763       2476
11    W                     True    713       2476

In [87]:
grpd2['Percentage'] =grpd2['Total'].apply(lambda x: (x / grpd2['Totalrace'].sum()) * 100)
grpd2

   race  signs_of_mental_illness  Total  Totalrace  Percentage
0     A                    False     69         93    0.704801
1     A                     True     24         93    0.245148
2     B                    False   1114       1298   11.378958
3     B                     True    184       1298    1.879469
4     H                    False    745        902    7.609806
5     H                     True    157        902    1.603677
6     N                    False     64         78    0.653728
7     N                     True     14         78    0.143003
8     O                    False     37         48    0.377937
9     O                     True     11         48    0.112360
10    W                    False   1763       2476   18.008172
11    W                     True    713       2476    7.282942

Jak rozmawialiśmy na spotkaniu, nie widzę dlaczego używając apply (powyżej), wynik nieznacznie różni się od prawidłowego.
Prawidłowy wynik znajduje się poniżej

In [88]:
grpd2['Percentage'] = grpd2['Total'] / grpd2['Totalrace'] #.apply(lambda x: (x / grpd2['Totalrace']))
grpd2

   race  signs_of_mental_illness  Total  Totalrace  Percentage
0     A                    False     69         93    0.741935
1     A                     True     24         93    0.258065
2     B                    False   1114       1298    0.858243
3     B                     True    184       1298    0.141757
4     H                    False    745        902    0.825942
5     H                     True    157        902    0.174058
6     N                    False     64         78    0.820513
7     N                     True     14         78    0.179487
8     O                    False     37         48    0.770833
9     O                     True     11         48    0.229167
10    W                    False   1763       2476    0.712036
11    W                     True    713       2476    0.287964